/.gradle/
/.idea/
/gradle/
/gradlew
/gradlew.bat
/settings.gradle
/user-service/build/
/payment-service/build/
/authentification-service/build/
/config-service/build/
/gateway-service/build/
/build/
/build/libs/
/build/tmp/
/user-service/logs/
/user-service/src/main/resources/log4j2.xml
/user-service/src/test/generated_tests/
/user-service/src/main/generated/
