/.gradle/
/.idea/
/gradle/
/gradlew
/gradlew.bat
/settings.gradle
/user-service/build/
/transaction-service/build/
/authentification-service/build/
/config-service/build/
/gateway-service/build/
/build/
/build/libs/
/build/tmp/
/user-service/logs/
/user-service/src/main/resources/log4j2.xml
/auth-service/src/main/resources/log4j2.xml
/auth-service/build/
/auth-service/build/libs/
/auth-service/build/resources/
/payment-service/build/dev/reports/tests/test/index.html
/payment-service/build/dev/reports/tests/test/packages/com.klasevich.itrex.lab.feign.html
/payment-service/build/dev/reports/tests/test/css/base-style.css
/payment-service/build/dev/reports/tests/test/classes/com.klasevich.itrex.lab.feign.UserServiceClientTest.html
/payment-service/build/dev/test-results/test/binary/output.bin
/payment-service/build/dev/test-results/test/binary/output.bin.idx
/payment-service/build/dev/tmp/compileTestJava/previous-compilation-data.bin
/payment-service/build/dev/reports/tests/test/js/report.js
/payment-service/build/dev/test-results/test/binary/results.bin
/payment-service/build/dev/reports/tests/test/css/style.css
/payment-service/build/dev/test-results/test/TEST-com.klasevich.itrex.lab.feign.UserServiceClientTest.xml
