/.gradle/
/.idea/
/gradle/
/gradlew
/gradlew.bat
/user-service/build/
/transaction-service/build/
/authentification-service/build/
/config-service/build/
/gateway-service/build/
/build/
/build/libs/
/build/tmp/
/user-service/logs/
/user-service/src/main/resources/log4j2.xml
/auth-service/src/main/resources/log4j2.xml
/auth-service/build/
/auth-service/build/libs/
/auth-service/build/resources/
/lib/
/notification-service/src/main/generated/
